.r {
  border-right: 4pt solid black;
}
.b {
  border-bottom: 4pt solid black;
}

.opponents{
  position:absolute;
  top:0%;
  left:0;
  width:80%;
  height:6%;
}

.opponent{
  width: 100%;
  height: 100%
}

.opponentTile{
  height: 100%;
  width: 2%;
}

.opponentIcon{
  height: 100%;
  width: 5%;
}

.currentPlayer{
  position:absolute;
  top:80%;
  left:0;
  width:80%;
  height:20%;
}

.currentPlayerIcon{
  height: 100%;
  width: 8%;
}

.currentPlayerTile{
  height: 100%;
  width: 6%;
  margin: 0 0 2% 2%;
}

.game{
  position:absolute;
  top:8%;
  left:0;
  width:90%;
  height:70%;
  background-color: green;
}

.tree0Root{
 width: 7%;
 text-align: center;
 position: absolute;
 top: 46%;
 height: 16%;
 left: 45.6%;
}

.tree0Right{
  width: 46%;
  text-align: left;
  position: absolute;
  top: 46%;
  height: 16%;
  left: 50.5%;
  margin: 0 0 0 0;
}

.tree0Left{
  width: 46%;
  text-align: right;
  position: absolute;
  top: 46%;
  height: 16%;
  left: 0;
}

.tree1{
  width: 15%;
  text-align: center;
  position: absolute;
  top: 15%;
  height: 30%;
  left: 6%; /* 2% if no vertical tiles; 6% if 1 vertical tile; 9.5% if 2 vertical tiles */

}

.tree1Tile{
  width: 24%;
  height: 50%;
  display: block;
}

.tree2{
  width: 100%;
  text-align: left;
  position: absolute;
  top: 0;
  height: 20%;
  left: 5%;
}

.tree2Tile{
  width: 3.5%;
  height: 100%;
  -webkit-transform-origin: 70% 60%;
  -webkit-transform: rotate(90deg);
  margin: 0 2% 0 1%;
}

.tree2TileFlip{
  width: 3.5%;
  height: 100%;
  -webkit-transform-origin: 72% 43%;
  -webkit-transform: rotate(270deg);
  margin: 0 2% 0 1.5%;
}

.verticalTile{
  width: 9%;
  height: 100%;
  margin: 0 0 0 1%;
}

.rootTile{
  width: 100%;
  height: 100%;
  margin: 0 0 0 0;
}

.horizontalTile{
  width: 9%;
  height: 100%;
  -webkit-transform-origin: 70% 60%;
  -webkit-transform: rotate(90deg);
  margin: 0 3% 0 1%;
}

.horizontalTileFlip{
  width: 9%;
  height: 100%;
  -webkit-transform-origin: 65% 37%;
  -webkit-transform: rotate(270deg);
  margin: 0 3% 0 1%;
}

.boneyard{
  position:absolute;
  top:0%;
  left:90%;
  width:10%;
  height:100%;
  background: green;
  background:rgba(255,255,255,0.3);
}

.boneyard .tile{
  width: 100%;
  height: 7%;
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
  display: block;
}

.slowlyAppear {
	-webkit-animation: slowlyAppear 0.5s linear;
	-moz-animation: slowlyAppear 0.5s linear;
	-ms-animation: slowlyAppear 0.5s linear;
	-o-animation: slowlyAppear 0.5s linear;
	animation: slowlyAppear 0.5s linear;
}

@-webkit-keyframes slowlyAppear {
  from {opacity: 0.1;}
  to {opacity: 1;}
}
@-moz-keyframes slowlyAppear {
  from {opacity: 0.1;}
  to {opacity: 1;}
}
@-o-keyframes slowlyAppear {
  from {opacity: 0.1;}
  to {opacity: 1;}
}
@keyframes slowlyAppear {
  from {opacity: 0.1;}
  to {opacity: 1;}
}

td {
  padding:0 5px 0 5px;
}
